.background {
    height: 100vh;
    background-image: url(../images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: 100%;
    animation: fadeIn 10s infinite;
}

@keyframes fadeIn {
    0% {
        background-image: url(../images/wallpaper.jpg);
    }
    33% {
        background-image: url(../images/wallpaper2.jpg);
    }
    67% {
        background-image: url(../images/wallpaper3.jpg);
    }
}
