.shop {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    &__contenttitle {
        display: flex;
        width: 100%;
        height: 140px;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 70px;
        &__title {
            font-size: 1.3rem;
            color: white;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        &__precio {
            font-size: 1.3rem;
            color: white;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        &__h1 {
            font-size: 4rem;
        }
    }

    &__content {
        &__art {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: solid 1px white;
            background-color: var(--white);
            width: 330px;
            height: 520px;
            margin: 10px;
            &__box {
                display: flex;
                width: 100%;
                color: white;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
                font-size: 1.5rem;
                border-bottom: solid 1px white;
                &__title {
                    color: white;
                }
            }
            &__img {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 330px;
                object-fit: cover;
                padding-top: 30px;
                &__image {
                    object-fit: contain;
                    overflow: hidden;
                }
            }

            &__price {
                color: white;
                font-size: 1rem;
                margin: 10px;
            }
            &__btn {
                display: flex;
                width: 200px;
                height: 55px;
                font-family: "Poppins", sans-serif;
                justify-content: center;
                align-items: center;
                background-color: $red;
                border: none;
                color: white;
                font-size: 1rem;
                font-weight: 500;
                cursor: pointer;
                transition: background-color 350ms;
                &:hover {
                    transition: 350ms;
                    color: #232323;
                    background-color: white;
                }
            }
        }
    }
}

.fa-heart {
    cursor: pointer;
    margin-right: 5px;
    &:hover {
        transition: 350ms;
        color: $red;
    }
}

#shop__content {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(330px, 2fr));
    grid-template-rows: auto;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.comic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px;
}
